@model RegisterPasswordForm
@{
    ViewData["Title"] = "Set Your Password";
    Layout = "Layouts/_AuthLayout";
}

<section class="auth-form-section">
    <div class="headline">
        <h1>Set Your Password</h1>
        <p>
            Set a strong password to protect your account. For security reasons, your password must be at least 8 characters long and include uppercase and lowercase letters, numbers, and special characters.
        </p>
    </div>

    <hr />

    <form method="post" asp-action="SetPassword" asp-controller="Authentication" novalidate>
        
        <div class="form-group">
            <label class="form-label" asp-for="Password"></label>
            <input class="form-input" asp-for="Password" value="@Model?.Password" />
            <span class="form-validation" asp-validation-for="Password"></span>
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="ConfirmPassword"></label>
            <input class="form-input" asp-for="ConfirmPassword" value="@Model?.ConfirmPassword" />
            <span class="form-validation" asp-validation-for="ConfirmPassword"></span>
        </div>

        <button class="form-button" type="submit">Continue</button>
        
        @if (!string.IsNullOrWhiteSpace(ViewData["ErrorMessage"]?.ToString()))
        {
            <div class="form-error-message">
                @ViewData["ErrorMessage"]?.ToString()
            </div>
        }

    
    </form>
</section>
