@model RegisterEmailForm
@{
    ViewData["Title"] = "Become a Member";
    Layout = "Layouts/_AuthLayout";
}

<section class="auth-form-section">
    <div class="headline">
        <h1>Become a Member</h1>
        <p>
            Sign up to continue your fitness journey with full access to your customized program, training history, and progress tracking. Stay consistent, monitor your development, and keep moving forward with the structure and support built into your account.
        </p>
    </div>

    <hr />

    <form method="post" asp-action="SignUp" asp-controller="Authentication" novalidate>
        
        <div class="form-group">
            <label class="form-label" asp-for="Email"></label>
            <input class="form-input" asp-for="Email" />
            <span class="form-validation" asp-validation-for="Email"></span>
        </div>

        <button class="form-button" type="submit">Continue</button>

        @if (!string.IsNullOrWhiteSpace(ViewData["ErrorMessage"]?.ToString()))
        {
            <div class="form-error-message">
                @ViewData["ErrorMessage"]?.ToString()
            </div>
        }
    </form>
</section>
